language: generic

os:
    - linux
    - osx

before_install:
    # Wine
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo dpkg --add-architecture i386; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then wget -nc https://dl.winehq.org/wine-builds/Release.key; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-key add Release.key; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-add-repository https://dl.winehq.org/wine-builds/ubuntu/; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get update; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install --install-recommends winehq-stable; fi
    # Terraform
    -  cd tests
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then curl -fSL "https://releases.hashicorp.com/terraform/0.11.3/terraform_0.11.3_linux_amd64.zip" -o terraform_linux.zip; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then curl -fSL "https://releases.hashicorp.com/terraform/0.11.3/terraform_0.11.3_windows_386.zip" -o terraform_win32.zip; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]];   then curl -fSL "https://releases.hashicorp.com/terraform/0.11.3/terraform_0.11.3_darwin_amd64.zip" -o terraform_osx.zip; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then unzip terraform_linux.zip; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then unzip terraform_win32.zip; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]];   then unzip terraform_osx.zip; fi

script: 
    - ./test.sh
    -  if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then wine cmd /c test.bat; fi
